/*Links*/
a{
  color: #666666;
  background: none;
  margin: 2px;
  /*box-shadow: 3px 3px 3px #888888;*/}
  a:hover {
    background: none;
	color: #666666;
	border-bottom: 2px solid #c3d7df;	}
  a:focus{
    background: none;
	color: #666666;
	border-bottom: 2px solid #d75c37;	}
/*Headline*/
h1{
	color: #6991ac;
	font-family: 'Josefin Sans', sans-serif;
}
#navigationMenu{
	border-right-style: solid;
	border-color: #ECECEA;
	background:white;
}
#codeDiv{
	padding:0px;
}
#FileBrowser{
	color: #67727a;
	font-family:'Josefin Sans', sans-serif;
	position:relative;
}
#dropdown{
	border: 1px solid #e9e9e9;
	margin: 0px;
}
#dropfirst{
	color: #CACACA;
}
	#dropfirst:hover{
		border-bottom: 0px solid;
		color: #757575;
	}
	#dropfirst:focus{
		border-bottom: 0px solid;
		color: #757575;
	}
.dropentry{
	color:#CACACA;
}
	.dropentry:hover{
		border-bottom: 0px solid;
		color: #757575;
	}
	.dropentry:focus{
		border-bottom: 0px solid;
		color: #757575;
	}
#droplist{
	margin: 0px;
	border: 1px solid #e9e9e9;
	border-top:0px;
	background:white;
}
.is-dropdown-submenu-parent.is-down-arrow > a::after{
	border-color: rgb(103, 114, 122) transparent transparent;
}
.fileButton{
	position:relative;
}
.edit-button{
    position: absolute; 
	top: 10px;	
    right: 25px;
	height:20px;
	opacity:0.3;
}
	.edit-button:hover{
		opacity:1.0;
	}
.save-button{
    position: absolute; 
	top: 10px;	
    right: 2px;
	height:20px;
	opacity:0.3;
}
	.save-button:hover{
		opacity:1.0;
	}
.play-button{
    position: absolute; 
	top: 10px;	
    right: 2px;
	height:20px;
	opacity:0.3;
}
	.play-button:hover{
		opacity:1.0;
	}
.add-button{
    position: absolute; 
	top: 14px;	
    right: 2px;
	height:20px;
	opacity:0.3;
}
	.add-button:hover{
		opacity:1.0;
	}

#FirstLine{
	height:100%;
}

#outputbox{
	background: white;
	margin-top: 15px;
	height: 300px;
	overflow:auto;
	/* Auto new line */
	word-wrap: break-word;      /* IE 5.5-7 */
    white-space: -moz-pre-wrap; /* Firefox 1.0-2.0 */
    white-space: pre-wrap;      /* current browsers */
}
#testbody{
		background: #f5f5f5;
		font-family:'whitney_htflight', sans-serif;
}
.title-bar{
	background: #67727a;
}

#FileBrowserLeft{
	color: #f5f5f5;
	font-family:'Josefin Sans', sans-serif;
}
#inputBox{
	padding-left: 0px;
}
#parameter{
	border-radius: 0px;
}
#run{
	border-radius:0px;
	border-color: #CACACA;
	color: #CACACA;
	position:relative;
	width:120px;
}
	#run:hover{
	    border-color: #757575;
		color: #757575;
	}
#run-button{
	position: absolute; 
	top: 12px;	
    left: 8px;
	height:15px;
}

html{
    min-height:100%;/* make sure it is at least as tall as the viewport */
    position:relative;
}

body{
        position: relative;
        padding: 0px 0 75px 0; /* Changed from 60px */
        box-sizing: border-box;
		background: #f5f5f5;
		font-family:'whitney_htflight', sans-serif;
}
/*Properties if screen-size larger than 1024px*/
@media screen and (min-width: 1024px) {
	#navigationMenu{
	height:100%;
	}
}
/*Properties if screen-size smaller than 1024px*/
@media screen and (max-width: 1023px) {
	#navigationMenu{
	margin-bottom: 5px;
	}
	#codeDiv{
	margin-left: 0px;
	}
	#outputbox{
	margin-left: 0px;
	}
	a{
		color: #f5f5f5;
		background: #67727a;
		border-bottom: 2px solid}
	a:hover {
		background: rgba(103, 114, 122, 0.65);
		color: #f5f5f5;
		border-bottom: 2px solid		}
	a:focus{
		background: rgba(103, 114, 122, 0.65);
		color: #f5f5f5;
		border-bottom: 2px solid	}
}
